<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="0zAALG0jc+24tfgO4F52sPeyPdAiM6wrzf+xPVtkeKnpw+I4h5Y89kpE3anmoeh2Wj7Ck9NOox5WZDvsvd25Ig==">
    <script src="/packs/js/application-9fae71cb0f19dfa22153.js" data-turbolinks-track="reload"></script>




  </head>

  <body>
    <%= yield %>
  </body>
</html>
